body {
	background-color: lightgray;
}
#onlyLogo{
	height: 5rem;
	margin-right: 1rem;
}
div.big-header{
	margin: 10% 25%;
}
#colorful {
	background-color: #FF6600;
}
section{
	background-color: transparent;
	text-align: center;
	margin: 0 0 1rem 0;
	
}
.vcenter {
    vertical-align: middle;
    float: none;
}
div ul li {
    display: inline-block;
	margin: 1em;
	border: 2px dashed white;
	text-align: center;
	text-decoration: none;	
}
form.login{
	text-align: center;
	width: 400px;
	height: 400px;
	margin: 0 33.33333% 0 33.33333%;
	border: 2px solid orangered;
	background-color: lightsalmon;
	color: white;
}