body {
	background-color: #ffefe6;
}
a{
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: none;
	color: white;
}
div.error_msg {
			display: none;
			color: white;
			background-color: red;
			border: 1px solid black;
			padding: 2px;
		}
div.new_msg {
			display: none;
			border: 1px solid black;
			padding: 4px;
		}
#onlyLogo{
	height: 5rem;
	margin-right: 1rem;
}
div.big-header{
	margin: 10% 25%;
}
#colorful {
	background-color: #FF6600;
}
section{
	background-color: transparent;
	text-align: center;
	margin: 0 0 1rem 0;
	
}
.vcenter {
    vertical-align: middle;
    float: none;
}
div ul li {
    display: inline-block;
	margin: 1em;
	border: 2px dashed white;
	text-align: center;
	text-decoration: none;	
}
.login{
	border: 2px solid orangered;
	background-color: lightsalmon;
	color: white;
	width: 60%;
}
.bgtransparent{
 position:fixed;
 left:0;
 top:0;
 background-color:#000;
 opacity:0.6;
 filter:alpha(opacity=60);
}

.bgmodal{
 position:fixed; 
 font-family:arial;
 font-size:1em;
 border:0.05em solid black;
 overflow:auto;
 background-color: rebeccapurple;
}