body {
	background-color: #ffefe6;
}
div.error_msg {
			display: none;
			color: white;
			background-color: red;
			border: 1px solid black;
			padding: 2px;
		}
div.new_msg {
			display: none;
			border: 1px solid black;
			padding: 4px;
		}
#onlyLogo{
	height: 5rem;
	margin-right: 1rem;
}
div.big-header{
	margin: 10% 25%;
}
#colorful {
	background-color: #FF6600;
}
section{
	background-color: transparent;
	text-align: center;
	margin: 0 0 1rem 0;
	
}
.vcenter {
    vertical-align: middle;
    float: none;
}
div ul li {
    display: inline-block;
	margin: 1em;
	border: 2px dashed white;
	text-align: center;
	text-decoration: none;	
}
.login{
	border: 2px solid orangered;
	background-color: lightsalmon;
	color: white;
	width: 60%;
}